- if @fixtures.nil?
  Please Add fixtures
- else
  %ul
    - @fixtures.each do |fixture|
      %li
        = "#{fixture.date} - #{Team.find(fixture.home).team} #{fixture.home_score} - #{fixture.away_score} #{Team.find(fixture.away).team}"

= link_to "Add Fixtures", league_table_fixtures_path(), method: :post
