- if @fixtures.nil?
  Please Add fixtures
- else
  %ul.list-group
    - @fixtures.each do |fixture|
      - if @date == fixture.date
        %li.list-group-item
          = "#{fixture.home.name} #{fixture.home_score} vs. #{fixture.away_score} #{fixture.away.name}"
      - else
        %li.list-group-item.dark-color.form-label
          = fixture.date.strftime("%a, %d %B %Y")
        %li.list-group-item
          = "#{fixture.home.name} #{fixture.home_score} vs. #{fixture.away_score} #{fixture.away.name}"
        - @date = fixture.date

%br
- if can? :manage, Fixture
  = link_to "Add Fixtures", league_table_fixtures_path(fixtures: true), method: :post, class: "btn btn-success"
  = link_to "Add Results", league_table_fixtures_path(), method: :post, class: "btn btn-primary"
