- if @fixtures.nil?
  Please Add fixtures
- else
  .col-xs-12.col-md-10.offset-md-1
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a.nav-link.active.fixture-nav{"data-toggle" => "tab", :href => "#fixtures", :role => "tab"} Fixtures
      %li.nav-item
        %a.nav-link.fixture-nav{"data-toggle" => "tab", :href => "#results", :role => "tab"} Results
    .tab-content
      #fixtures.tab-pane.active{:role => "tabpanel"}
        .row
          .table-responsive
            %table.table
              %thead.table-inverse
                %tr
                  %th.text-xs-center{ width: '20%' }
                    Date
                  %th.text-xs-right{ width: '25%' }
                    Home
                  %th{ width: '10%' }
                  %th.text-xs-left{ width: '25%' }
                    Away
                  %th.text-xs-center{ width: '15%' }
                    Comp.
              - @fixtures.each do |fixture|
                %tbody
                  %tr
                    %td.text-xs-center
                      = fixture.date&.strftime("%a, %d %b %Y") || 'TBC'
                    %td.text-xs-right
                      = fixture.home.name
                    %td.text-xs-center
                      = "#{fixture.home_score} - #{fixture.away_score}"
                    %td.text-xs-left
                      = fixture.away.name
                    %td.text-xs-center
                      = fixture.competition.abbreviation

      #results.tab-pane{:role => "tabpanel"}
        .row
          .table-responsive
            %table.table
              %thead.table-inverse
                %tr
                  %th.text-xs-center{ width: '20%' }
                    Date
                  %th.text-xs-right{ width: '25%' }
                    Home
                  %th{ width: '10%' }
                  %th.text-xs-left{ width: '25%' }
                    Away
                  %th.text-xs-center{ width: '15%' }
                    Comp.
              - @results.each do |fixture|
                %tbody
                  %tr
                    %td.text-xs-center
                      = fixture.date&.strftime("%a, %d %b %Y") || 'TBC'
                    %td.text-xs-right
                      = fixture.home.name
                    %td.text-xs-center
                      = "#{fixture.home_score} - #{fixture.away_score}"
                    %td.text-xs-left
                      = fixture.away.name
                    %td.text-xs-center
                      = fixture.competition.abbreviation
    %br
    - if (can? :manage, Fixture)
      = link_to "Add Fixtures", team_fixtures_path(fixtures: true), method: :post, class: "btn btn-success"
      = link_to "Add Results", team_fixtures_path(), method: :post, class: "btn btn-primary"
