%ul
  - @cups.each do |cup|
    = cup.name

= form_for @cup do |f|
  .form-group
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :abbreviation, class: "form-label"
    = f.text_field :abbreviation, class: "form-control"
  .form-group
    = f.label :year, class: "form-label"
    = f.text_field :year, class: "form-control"
  .form-group
    = f.label :fixture_url, class: 'form-label'
    = f.text_field :fixture_url, class: 'form-control'
  .form-group
    = f.label :result_url, class: 'form-label'
    = f.text_field :result_url, class: 'form-control'

  = f.submit class: 'btn btn-success'
