= form_for @video do |f|
  .form-group
    = f.label :title
    = f.text_field :title, { class: "form-control" }
  .formm-group
    = f.label :summary
    = f.text_area :summary, { class: 'form-control, news-content', rows: 5 }
  .form-group
    = f.label :url
    .input-group
      %span#basic-addon3.input-group-addon https://example.com/users/
      = f.text_field :url, {id: 'basic-url', class: 'form-control', 'aria-describedby': "basic-addon3", type: "text"}
  = f.submit class: 'btn btn-success'
