- if @videos.any?
  .container
    .well.well-sm
      %h3.title Latest Videos
    - @videos.each do |video|
      #products.row.list-group.video-container
        = link_to video_path(video), class: 'item list-group-item video-link' do
          .thumbnail
            %img.group.list-group-image{:alt => "", :src => "#{video.thumbnail}"}/
            .caption
              %h4.group.inner.list-group-item-heading
                = video.title
              %p.group.inner.list-group-item-text
                = video.summary
              %p.group-inner.list-group-item-footer.bottom-align-text
                = video.created_at.to_formatted_s(:month_and_year)
- else
  No videos have been added
