.container.mt-2
  .card
    .embed-responsive.embed-responsive-16by9.card-img-top
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "#{@video.url_santizer}"}
    .card-body
      %h4.card-title
        = @video.title
      %p.card-text
        = @video.content
      %p.card-text
        %small.text-muted
          = "Last updated #{time_ago_in_words(@video.updated_at)} ago"
        - if can? :manage, Video
          = link_to 'Delete', video_path(@video), method: :delete, class: 'pull-xs-right btn btn-sm btn-danger'
          = link_to 'Edit', edit_video_path(@video), class: 'pull-xs-right btn btn-sm btn-success edit-button'
