= link_to news, class: "video-link news-link #{width}" do
  .card.green-hover.news-article
    = image_tag(news.try(:images)&.first&.image&.url(:large) || news.thumbnail, class: 'card-img-top news-img')
    .card-body.news-block
      .card-text
        .row.news-info
          .col-6
            = news.class.to_s
          .col-6
            %small.text-muted.float-right
              = news.created_at.to_formatted_s(:month_and_year)
      %h5.card-title
        = news.title
      %p.card-text.summary
        = truncate(news.content, length: 120)
