= form_for @league_table do |f|
  .form-group
    = f.label :name, class: "form-label"
    = f.text_field :name, { class: "form-control" }
  .form-group
    = f.label :year, class: "form-label"
    = f.text_field :year, { class: "form-control" }
  .form-group
    = f.label :promoted, class: "form-label"
    = f.text_field :promoted, { class: "form-control" }
  .form-group
    = f.label :relegated, class: "form-label"
    = f.text_field :relegated, { class: "form-control" }
  .form-group
    = f.label 'URL', class: "form-label"
    = f.text_field :url, { class: "form-control" }
  .form-group
    = f.label 'Fixture URL', class: "form-label"
    = f.text_field :fixture_url, { class: "form-control" }
  .form-group
    = f.label 'Result URL', class: "form-label"
    = f.text_field :results_url, { class: "form-control" }
  = f.submit class: 'btn btn-success'
