-if @league_table
  .container
    .row
      .col-xs-10
        %h2.title
          = @league_table.name + " - " + format_year(@league_table.year)
      .col-xs-2
        = link_to 'Fixtures and Results', league_table_fixtures_path(@league_table), class: 'btn btn-sm btn-success pull-xs-right'
  - if @league_table.seasons.any?
    .container
      .row
        .wrapper
          .table-responsive
            %table.table
              %thead.thead-inverse
                %tr
                  %th
                    Pos
                  %th
                    Team
                  %th.text-xs-center
                    Played
                  %th.hidden-sm-down.text-xs-center
                    Won
                  %th.hidden-sm-down.text-xs-center
                    Drawn
                  %th.hidden-sm-down.text-xs-center
                    Lost
                  %th.hidden-md-down.text-xs-center
                    For
                  %th.hidden-md-down.text-xs-center
                    Against
                  %th.text-xs-center
                    Diff
                  %th.text-xs-center
                    Points
              %tbody
                - @teams.each_with_index do |season, index|
                  %tr
                    %td{ scope: 'row' }
                      = index + 1
                    %td
                      = season.team.name
                    %td.text-xs-center
                      = season.games
                    %td.hidden-sm-down.text-xs-center
                      = season.won
                    %td.hidden-sm-down.text-xs-center
                      = season.drawn
                    %td.hidden-sm-down.text-xs-center
                      = season.lost
                    %td.hidden-md-down.text-xs-center
                      = season.goals_for
                    %td.hidden-md-down.text-xs-center
                      = season.goals_against
                    %td.text-xs-center
                      = season.goals_difference
                    %td.text-xs-center
                      = season.points
  - else
    Add teams to the league

  - if can? :manage, LeagueTable
    = link_to "#{ @teams.nil? ? 'Add Teams' : 'Update Table'}", league_table_seasons_path(@league_table), :method => :post, class: 'btn btn-sm btn-success'
    = link_to "Edit", edit_league_table_path(@league_table), class: 'btn btn-sm btn-primary'

    = link_to "Delete Table", league_table_path(@league_table), :method => :delete, :confirm => "Are you sure?", class: 'btn btn-sm btn-danger'
