.carousel
  - carousel_articles.each do |news|
    = link_to news, class: 'video-link' do
      .card.carousel-item
        .card-block.carousel-title
          %h4.card-title
            %span#carousel-news-title
              = news.title
        %img.carousel-img{:alt => "", :src => "#{news.try(:image)&.url(:large) || news.thumbnail}"}/
        .card-block
          %p.card-text
            = news.summary
          %p.card-text.bottom-align-text
            %small.text-muted
              = news.created_at.to_formatted_s(:month_and_year)
