.card-body
  .card-text
    .col-xs-12
      = team_result.date.strftime("%a, %d %B %Y")
    %hr
    .row
      .col-12.col-lg-5.text-center.text-lg-left
        = team_result.home.name
      .col-12.col-lg-2.text-center
        = "#{team_result.home_score} - #{team_result.away_score}"
      .col-12.col-lg-5.text-center.text-lg-right
        = team_result.away.name
