.card-block
  .card-text
    .row
      .col-xs-12.text-xs-left
        = team_result.date.strftime("%a, %d %B %Y")
    %hr.underline
    .row
      .col-xs-5
        = team_result.home.name
      .col-xs-2.no-padding.text-xs-center
        = "#{team_result.home_score} - #{team_result.away_score}"
      .col-xs-5
        = team_result.away.name
