.container-fluid
  .row
    = render 'carousel'
    .container.col-md-12.col-lg-8
      .container
        %h4.news-heading.title
          Latest News
      - if @news
        .row
          - @news.each do |news|
            = link_to news_path(news), class: 'welcome-link' do
              .card.col-xs-12.green-hover.welcome-news
                .col-xs-4.image-container
                  %img.card-img-top.img-fluid.welcome-image{:alt => "Card image cap", "src" => "#{news.image.url(:large)}"}/
                .col-xs-8
                  %h4.card-title.news-title
                    = news.title
                  %p.card-text
                    = preserve gfm(news.summary)
    .container.col-lg-4.col-md-12.pull-lg-right
      .container
        %h4.newsheading.title
          League Tables
      .container.welcome-tables
        - if @first_team_table
          %h6.title.welcome-league-title
            = @first_team_table.name
          %table.table.small-table
            %thead.thead-inverse
              %tr
                %th.small
                  Pos
                %th.small
                  Team
                %th.small
                  Played
                %th.small
                  Difference
                %th.small
                  Points
            %tbody
              - @first_team_teams.each do |team|
                %tr
                  %td{ class: 'small', scope: 'row' }
                    = team.position
                  %td.small
                    = team.team.name
                  %td.small
                    = team.games
                  %td.small
                    = team.goals_difference
                  %td.small
                    = team.points
          = link_to 'See full table', league_table_path(@first_team_table), {class: 'small pull-xs-right'}
        - else
          Add teams to the league
      .container.welcome-tables
        - if @reserve_team_table
          %h6.title.welcome-league-title
            = @reserve_team_table.name
          %table.table.small-table
            %thead.thead-inverse
              %tr
                %th.small
                  Pos
                %th.small
                  Team
                %th.small
                  Played
                %th.small
                  Difference
                %th.small
                  Points
            %tbody
              - @reserve_team_teams.each do |team|
                %tr
                  %td{ class: 'small', scope: 'row' }
                    = team.position
                  %td.small
                    = team.team.name
                  %td.small
                    = team.games
                  %td.small
                    = team.goals_difference
                  %td.small
                    = team.points
          = link_to 'See full table', league_table_path(@first_team_table), {class: 'small pull-xs-right'}
        - else
          Add teams to the league
