.container-fluid
  = render 'carousel', carousel_articles: @carousel_articles
  .row
    .container.col-lg-4.col-md-12.pull-lg-right.welcome-table-container
      .container
        %h4.newsheading.title
          League Tables
      .container.welcome-tables
        - if @first_team_table
          %h6.title.welcome-league-title
            = @first_team_table.name
          %table.table.small-table
            %thead.thead-inverse
              %tr
                %th.small
                  Pos
                %th.small
                  Team
                %th.small.text-xs-center
                  Played
                %th.small.text-xs-center
                  Diff
                %th.small.text-xs-center
                  Points
            %tbody
              - @first_team_teams.each do |team|
                %tr
                  %td{ class: 'small', scope: 'row' }
                    = team.position
                  %td.small
                    = team.team.name
                  %td.small.text-xs-center
                    = team.games
                  %td.small.text-xs-center
                    = team.goals_difference
                  %td.small.text-xs-center
                    = team.points
          = link_to 'See full table', league_table_path(@first_team_table), {class: 'small pull-xs-right'}
        - else
          Add teams to the league
      .container.welcome-tables
        - if @reserve_team_table
          %h6.title.welcome-league-title
            = @reserve_team_table.name
          %table.table.small-table
            %thead.thead-inverse
              %tr
                %th.small
                  Pos
                %th.small
                  Team
                %th.small.text-xs-center
                  Played
                %th.small.text-xs-center
                  Diff
                %th.small.text-xs-center
                  Points
            %tbody
              - @reserve_team_teams.each do |team|
                %tr
                  %td{ class: 'small', scope: 'row' }
                    = team.position
                  %td.small
                    = team.team.name
                  %td.small.text-xs-center
                    = team.games
                  %td.small.text-xs-center
                    = team.goals_difference
                  %td.small.text-xs-center
                    = team.points
          = link_to 'See full table', league_table_path(@reserve_team_table), {class: 'small pull-xs-right'}
        - else
          Add teams to the league
    .container.col-lg-7.col-md-12
      %h4.newsheading.title
        Recent Form


