.news.container
  %h3.title Latest News
  - if @news.any?
    .card-columns
      - @news.each do |news|
        .card
          %img.card-img-top.center-block.new-image{:alt => "Card image cap", "src" => "#{news.image.url(:medium)}"}/
          .card-block
            %h4.card-title
              = news.title
            %p.card-text
              = news.summary
          .card-footer.text-xs-right
            = news.updated_at.to_formatted_s(:long)

  - else
    = "No news has been add yet"
