- if @news.any?
  .container
    .well.well-sm
      %h3.title Latest News
    - @news.each do |news|
      #products.row.list-group.video-container
        = link_to news_path(news), class: 'item list-group-item video-link' do
          .thumbnail
            %img.group.list-group-image.news-image{:alt => "", :src => "#{news.image.url(:medium)}"}/
            .caption
              %h4.group.inner.list-group-item-heading
                = news.title
              %p.group.inner.list-group-item-text
                = news.summary
              %p.group-inner.list-group-item-footer.bottom-align-text
                = news.created_at.to_formatted_s(:month_and_year)
- else
  No News has been added yet
