.news.container
  - if @news.any?
    .row
      .card-group
        - @news.each do |news|
          .card.col-xs-4.float-left.news-article
            = image_tag('transparent_logo.png', class: 'img-fluid card-img-top')
            .card-block
              %h4.card-title
                = news.title
              %p.card-text
                = preserve gfm(news.summary)
              = link_to 'Read More', news_path(news), class: 'btn btn-primary'
  - else
    = "No news has been add yet"
