.container-fluid
  .row
    .col-12.col-lg-8.pt-3
      .card
        .card-body
          %h4.card-title
            = @news.title
        = image_tag(@news.images.first.image.url(:large), class: 'headline-img')
        .card-body
          %p.card-text
            = preserve gfm(@news.content)
          %p.card-text
            %small.text-muted
              = "Last updated #{time_ago_in_words(@news.updated_at)} ago"
            - if can? :manage, News
              = link_to 'Delete', news_path(@news), method: :delete, class: 'float-right btn btn-sm btn-danger'
              = link_to 'Edit', edit_news_path(@news), class: 'float-right btn btn-sm btn-success edit-button'
    .col-12.col-lg-4.pt-3
      %h4.form-label
        Latest News
      .card-deck-wrapper
        .card-deck
          - @latest_news.each do |news|
            = render 'shared/card', news: news, width: 'col-12 col-md-6 col-lg-12'
