%tr
  %td
    = league_table.year
  %td
    = link_to "#{league_table.name}", league_table_path(league_table)
  %td
    = radio_button_tag "active_#{name}", league_table.active?, league_table.active?, id: "league_table-#{league_table.id}", class: "active_#{name}"
