%tr
  %td{ scope: 'row' }
    = season.position
  %td
    = season.team.name
  %td.text-center
    = season.games
  %td.d-sm-table-cell.d-none.text-center
    = season.won
  %td.d-sm-table-cell.d-none.text-center
    = season.drawn
  %td.d-sm-table-cell.d-none.text-center
    = season.lost
  %td.d-md-table-cell.d-none.text-center
    = season.goals_for
  %td.d-md-table-cell.d-none.text-center
    = season.goals_against
  %td.text-center
    = season.goals_difference
  %td.text-center
    = season.points
