!!!
%html
  %head
    %title Wrecclesham Football Club
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{name: "theme-color", content: "#82b582 "}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "#82b582 "}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{name: 'description', content: 'Official Site of Wrecclesham Football Club'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/google_analytics'
  %body
    #wrap
      = render 'layouts/topbar'
      = render 'layouts/navbar'
      .container.flash
        - flash.each do |key, value|
          .alert.flash-title{ :class => bootstrap_class_for(key) }
            %button.close{ :data => { :dismiss => "alert" } } x
            = value
      = yield
      .push
    = render 'layouts/footer'
