!!!
%html
  %head
    %title WreccleshamFc
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css", :integrity => "sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY", :rel => "stylesheet"}/
    %script{:src => "https://www.atlasestateagents.co.uk/javascript/tether.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"}
    = favicon_link_tag 'favicon.ico'
  %body
    = render 'layouts/topbar'
    = render 'layouts/navbar'
    .container
      - flash.each do |key, value|
        .alert{ :class => bootstrap_class_for(key) }
          %button.close{ :data => { :dismiss => "alert" } } x
          = value
    .container.center-panel
      = yield
